main:has(> div[dir]) {
    background-color: #000;
    overflow: hidden;
}

main > div[dir] > :nth-child(3) > :nth-child(1),
main > div[dir] > :nth-child(3) > :nth-child(2) {
    @media screen and (max-width: 768px) {
        position: absolute;
    }
    @media screen and (min-width: 768px) {
        position: relative;
    }
    top: 0;
    bottom: 0;
    background-color: black;
}

main > div[dir] aside {
    @media screen and (max-width: 768px) {
        background-color: black;
        opacity: 1;
    }
}

main > div[dir] > :nth-child(3) {
    background-color: black;
    /*opacity: 0.6;*/
}

main > div[dir] > footer {
    display: none;
}