main:has(> div[dir]) {
    background-color: #000;
    overflow: hidden;
}

main > div[dir] {
    display: flex;
    flex-direction: column;
    min-height: 0;
    height: 100%;
}

main > div[dir] > :nth-child(3) > :nth-child(1),
main > div[dir] > :nth-child(3) > :nth-child(2) {
    @media screen and (max-width: 768px) {
        position: absolute;
    }
    @media screen and (min-width: 768px) {
        position: relative;
    }
    top: 0;
    bottom: 0;
    background-color: black;
}

main > div[dir] aside {
    @media screen and (max-width: 768px) {
        background-color: black;
        left: 0;
    }
}

main > div[dir] aside,
main > div[dir] article {
    overflow: auto;
    min-height: 0;
    height: 100%;
}

main > div[dir] > :nth-child(3) {
    background-color: black;
    min-height: 0;
    height: 100%;
    width: 100%;
}

main > div[dir] div:has(> div.nextra-toc-hidden) {
    display: none;
}

main > div[dir] article {
    scroll-behavior: smooth;
    top: 0;
    position: relative;
}

main > div[dir] aside ul li:has(> hr) {
    margin: 0;
    border: none !important;
    transform: scaleY(0.2);
}

main > div[dir] aside ul li:has(> span.cursor-default) {
    margin: 0;
}

main > div[dir] article code {
    color: #EB5757;
}

main .nextra-card,
main .nextra-card span{
    max-height: 56px;
}